@font-face {
  font-family: "Satoshi-Light";
  src: Local(Satoshi-Light),
    url("../../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: Local(Satoshi-Regular),
    url("../../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: Local(Satoshi-Medium),
    url("../../fonts/Satoshi-Medium.ttf") format("truetype");
  // font-weight: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: Local(Satoshi-Bold),
    url("../../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-Black";
  src: Local(Satoshi-Black),
    url("../../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: Local(Satoshi-Italic),
    url("../../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: Local(Satoshi-LightItalic),
    url("../../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: Local(Satoshi-MediumItalic),
    url("../../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  // font-weight: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: Local(Satoshi-BoldItalic),
    url("../../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: Local(Satoshi-BlackItalic),
    url("../../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: normal;
}
