// theme colors
$primary: #006d77 !default;
$secondary: #00067c !default;
$contrast: #ffc800 !default;
$error: #ef6f6c !default;
$success: #04a777 !default;
$info: #1c73f6 !default;
$nutral-100: #fff !default;
$nutral-80: #eef0f5 !default;
$nutral-50: #b2c0d9 !default;
$nutral-0: #282932 !default;
$text-50: #6f6e7c !default;

@import "../main.scss";
